<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jokes</title>
    </head>
    <body>
        <h1> <%= joke %> </h1>
        <a href="/">Voltar Página Categorias</a>
    </body>
</html>
