
.card-parent{
  width: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 50px;
}

button {
  margin-left: 10px;
  border: 2px solid white;
  background-color: black;
  border-radius: 5px;
  box-shadow: 1px 1px 2px gray;
  height: 25px;
  color: white;
  font-weight: bold;
  min-width: 80px;
}

button:hover {
  cursor: pointer;
}


body {
  display: flex;
  justify-content: center;
  margin: 10px;
  text-align: center;
  background-color: rgb(246, 240, 247);
}

.pokemon {
  align-items: center;
  background-color: rgb(252, 247, 247);
  border: 2px gray solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  min-width: 30%;
  margin: 12px;
  padding: 5px;
}

.pokedex {
  text-align: center;
  font-size: 2em;
}

.btn {
  width: 13em;
  height: 3.5em;
  margin: 1em;
  background-color: rgb(143, 117, 155);
  border-radius: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
