body {
  background-color: green;
}

.verso-da-carta {
  width: 200px;
  height: auto;
  margin: 20px;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: left;
}

.rotate:hover {
  transform: rotate(360deg);
  transition: transform 1s;
}

.zoom:hover {
  animation-name: zoom;
  animation-duration: 3s;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
